@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot?t=1487139706310");
  /* IE9*/
  src: url("font/iconfont.eot?t=1487139706310#iefix") format("embedded-opentype"), url("font/iconfont.woff?t=1487139706310") format("woff"), url("font/iconfont.ttf?t=1487139706310") format("truetype"), url("font/iconfont.svg?t=1487139706310#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-notebook:before {
  content: "\e601"; }

.icon-watch:before {
  content: "\e602"; }

.icon-client:before {
  content: "\e603"; }

.icon-exit:before {
  content: "\e604"; }

.icon-user:before {
  content: "\e605"; }

.icon-password:before {
  content: "\e606"; }

* {
  margin: 0;
  padding: 0; }

body,
button,
input,
textarea {
  font-family: "Source Han Sans","microsoft yahei"; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a,
a:hover {
  text-decoration: none; }

a,
button,
img {
  border: none;
  outline: 0 none; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0; }

.btn {
  background-color: #18b2ff;
  border-color: #18b2ff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF; }
  .btn:hover {
    background-color: #5C7AFF;
    border-color: #5C7AFF; }

/*登录*/
.login-wrapper {
  width: 530px;
  margin: 0 auto;
  text-align: center; }
  .login-wrapper .login-header {
    width: 190px;
    margin: 50px auto; }
    .login-wrapper .login-header .sys-name {
      font-size: 16px;
      color: #18b2ff;
      margin-top: 20px;
      letter-spacing: 1px; }
  .login-wrapper .login-panel {
    width: 488px;
    height: 394px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 50px 0; }
    .login-wrapper .login-panel .login-font {
      color: #18b2ff;
      font-size: 36px;
      margin: 0 auto 40px; }
    .login-wrapper .login-panel .form-group {
      width: 56%;
      margin: 10px auto;
      position: relative; }
      .login-wrapper .login-panel .form-group .icon {
        position: absolute;
        z-index: 10;
        left: 7px;
        top: 1px;
        font-size: 24px;
        color: #18b2ff; }
      .login-wrapper .login-panel .form-group .form-control {
        padding-left: 35px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border-color: #D2D2D2; }
      .login-wrapper .login-panel .form-group .help-block {
        font-size: 14px;
        color: #DDDDDD;
        margin-top: 10px; }
    .login-wrapper .login-panel .btn-login {
      width: 146px;
      height: 58px;
      font-size: 24px;
      margin-top: 25px; }

/*列表*/
.main {
  position: relative; }

.main-header {
  position: absolute;
  z-index: 100;
  padding: 0 1%;
  width: 100%;
  background-color: #FFF;
  -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  height: 55px; }
  .main-header .h-logo {
    display: block;
    margin-top: 12px; }
    .main-header .h-logo img {
      width: 100px;
      background-size: cover; }
  .main-header .h-sys {
    display: block;
    margin-left: 15px;
    margin-top: 19px;
    font-size: 14px;
    color: #18b2ff;
    font-weight: bold;
    letter-spacing: 1px; }
  .main-header .h-infor {
    letter-spacing: 1px;
    margin-top: 16px;
    font-size: 14px;
    color: #666; }
    .main-header .h-infor .h-time {
      margin-right: 10px; }
    .main-header .h-infor .h-username,
    .main-header .h-infor .icon-exit {
      color: #18b2ff; }
    .main-header .h-infor .h-exit a {
      color: #666; }

.sidebar {
  position: absolute;
  left: 0;
  top: 55px;
  width: 106px;
  background-color: #333333;
  border-right: 1px solid #a6a6a6;
  box-sizing: content-box;
  z-index: 10; }
  .sidebar .nav-menu {
    width: 106px;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #30434d;
    overflow: hidden; }
    .sidebar .nav-menu a {
      color: #18b2ff;
      display: block; }
      .sidebar .nav-menu a .icon {
        font-size: 36px; }
      .sidebar .nav-menu a .menu-name {
        font-size: 14px;
        display: block; }
  .sidebar .active,
  .sidebar .nav-menu:hover {
    background-color: #F2F2F2; }

.main-content {
  position: absolute;
  padding-left: 107px;
  width: 100%;
  top: 55px; }
  .main-content .page-list {
    width: 80%;
    margin: 100px auto; }
    .main-content .page-list .form-group {
      width: 40%;
      margin: 0 auto; }
      .main-content .page-list .form-group .form-control {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 9px;
        padding-bottom: 11px\0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
      .main-content .page-list .form-group .btn-login {
        margin-left: 15px;
        padding: 8px 22px;
        font-size: 18px; }
      .main-content .page-list .form-group .pro-title {
        text-align: center; }
    .main-content .page-list .table-container {
      position: relative;
      margin-top: 40px; }
      .main-content .page-list .table-container .btn-check {
        color: #FFFFFF;
        font-size: 14px;
        padding: 3px 15px; }
        .main-content .page-list .table-container .btn-check:hover {
          color: #FFFFFF; }
      .main-content .page-list .table-container .table {
        border-bottom: 1px solid #dddddd; }
        .main-content .page-list .table-container .table td,
        .main-content .page-list .table-container .table th {
          border-color: #dddddd;
          vertical-align: middle;
          font-size: 14px;
          color: #000000; }
        .main-content .page-list .table-container .table .border-bottom-none {
          border-bottom: none; }
      .main-content .page-list .table-container .control-table th, .main-content .page-list .table-container .control-table td {
        height: 58px; }
      .main-content .page-list .table-container .control-table td {
        background-color: #F2F2F2; }
      .main-content .page-list .table-container .table-th tr:nth-child(even) {
        background-color: #F2F2F2; }
      .main-content .page-list .table-container .table-th tr td,
      .main-content .page-list .table-container .table-th tr th {
        text-align: center;
        vertical-align: middle;
        height: 58px; }
      .main-content .page-list .table-container .table-th tr th {
        color: #18b2ff;
        font-size: 16px; }
      .main-content .page-list .table-container .table-th tr td {
        font-size: 14px; }
        .main-content .page-list .table-container .table-th tr td a {
          color: #18b2ff;
          text-decoration: underline; }
          .main-content .page-list .table-container .table-th tr td a:hover {
            color: #5C7AFF; }
      .main-content .page-list .table-container .red {
        color: red;
        font-size: 14px;
        text-align: right;
        margin-top: 10px; }
    .main-content .page-list nav {
      text-align: center; }
      .main-content .page-list nav .pagination {
        margin: 100px auto 0; }
        .main-content .page-list nav .pagination li > a,
        .main-content .page-list nav .pagination li > span {
          margin: 3px;
          width: 38px;
          height: 38px;
          line-height: 38px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          padding: 0;
          text-align: center;
          color: #707070;
          border-color: #707070; }
        .main-content .page-list nav .pagination .disabled a {
          background-color: #F9F9F9;
          border-color: #e1e1e1;
          color: #e1e1e1; }
        .main-content .page-list nav .pagination .active a {
          background-color: #18b2ff;
          border-color: #18b2ff;
          color: #FFFFFF; }
        .main-content .page-list nav .pagination .dot span {
          border: none; }
          .main-content .page-list nav .pagination .dot span:hover {
            background-color: #FFFFFF; }
    .main-content .page-list .client-msg {
      width: 400px;
      margin: 30px auto; }
      .main-content .page-list .client-msg .form-group {
        width: 100%;
        margin: 20px 0; }
        .main-content .page-list .client-msg .form-group label {
          text-align: right;
          width: 28%;
          margin-top: 10px; }
        .main-content .page-list .client-msg .form-group .form-control {
          width: 72%;
          padding: 0.375rem 0.75rem;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px; }
    .main-content .page-list .btn-save {
      padding: 0;
      width: 206px;
      height: 44px;
      font-size: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: block;
      margin-left: 28%; }
    .main-content .page-list .mt80 {
      margin-top: 80px; }
    .main-content .page-list .echarts-container {
      width: 80%;
      height: 570px;
      margin: 40px auto; }
    .main-content .page-list .param {
      width: 500px;
      text-align: center;
      margin: 70px auto; }
      .main-content .page-list .param .btn-save {
        margin-left: 32px; }
  .main-content .control-nav li {
    height: 53px;
    line-height: 53px;
    float: left;
    width: 25%;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    background-color: #F2F2F2;
    text-align: center; }
    .main-content .control-nav li a {
      color: #000000; }
  .main-content .control-nav .active {
    background-color: #FFFFFF;
    border-bottom: 1px solid #18b2ff; }
    .main-content .control-nav .active a {
      color: #18b2ff; }
  .main-content .control-name {
    color: #18b2ff;
    text-align: center;
    font-size: 24px;
    font-weight: bold; }

.update-panel {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -233px;
  margin-left: -250px; }
  .update-panel .modal-title {
    color: #18b2ff;
    font-size: 24px; }
  .update-panel .modal-body {
    padding-top: 30px; }
    .update-panel .modal-body .form-group {
      padding: 0 3%; }
      .update-panel .modal-body .form-group label {
        text-align: right;
        width: 30%;
        margin-top: 6px; }
      .update-panel .modal-body .form-group .form-control {
        width: 64%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  .update-panel .modal-footer {
    border-top: none;
    text-align: center;
    padding: 0 0 30px; }
    .update-panel .modal-footer .btn-save {
      padding: 0;
      width: 162px;
      height: 58px;
      font-size: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
  .update-panel .modal-content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
